In [4]:
from alpaca.data.historical import CryptoHistoricalDataClient
from alpaca.data.requests import CryptoBarsRequest
from alpaca.data.timeframe import TimeFrame
from datetime import datetime, timedelta
import pandas as pd

# no keys required for crypto data
client = CryptoHistoricalDataClient()

years_back = 3 #Fetch 3 years of data
start_date = datetime.today() - timedelta(days=365 * years_back)
end_date = datetime.today()


request_params = CryptoBarsRequest(
                        symbol_or_symbols=["BTC/USD", "ETH/USD"],
                        timeframe=TimeFrame.Day, # Use TimeFrame.Minute for high-frequency trading
                        start=start_date,
                        end=end_date
                 )

bars = client.get_crypto_bars(request_params)

# Covert to DataFrame
df = bars.df

pd.set_option('display.width', 200)  # Set a large width
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.expand_frame_repr', False)  # Prevent line wrapping

# convert to dataframe
print(df)

                                         open          high         low       close       volume  trade_count          vwap
symbol  timestamp
BTC/USD 2022-03-09 06:00:00+00:00  41521.5300  42590.080000  38900.0000  39219.0800  1364.981479      43231.0  41404.787303
        2022-03-10 06:00:00+00:00  39235.6400  40301.730000  38200.2000  38792.2300  1181.691366      35917.0  39139.215264
        2022-03-11 06:00:00+00:00  38784.6100  40250.000000  38316.0000  39167.7500   831.507763      30547.0  39192.837122
        2022-03-12 06:00:00+00:00  39172.7600  39439.780000  38666.6700  39109.3600   301.549334      16474.0  39079.401184
        2022-03-13 06:00:00+00:00  39126.4600  39198.040000  37572.5100  38520.9900   576.983541      25701.0  38409.369059
...                                       ...           ...         ...         ...          ...          ...           ...
ETH/USD 2025-03-03 06:00:00+00:00   2449.5135   2449.513500   2003.3420   2105.9345   116.066267        292.0   2199.763076
        2025-03-04 06:00:00+00:00   2105.0785   2269.852217   1994.3040   2178.8730    17.636647        169.0   2098.957587
        2025-03-05 06:00:00+00:00   2180.5650   2319.030000   2161.8500   2314.2605    29.692276        162.0   2221.953832
        2025-03-06 06:00:00+00:00   2313.3960   2313.721000   2102.1550   2173.8200    19.079963        131.0   2217.909718
        2025-03-07 06:00:00+00:00   2175.1000   2210.600000   2165.9745   2178.3400     3.313974         29.0   2186.612350

[2190 rows x 7 columns]

## Format Timestamp

In [5]:
# Assuming 'df' is your DataFrame with the provided data
# Convert 'timestamp' level to datetime
df.index = pd.MultiIndex.from_arrays([
    df.index.get_level_values('symbol'),
    pd.to_datetime(df.index.get_level_values('timestamp'))
], names=['symbol', 'timestamp'])

# Remove the timezone 
df.index = pd.MultiIndex.from_arrays([
    df.index.get_level_values('symbol'),
    df.index.get_level_values('timestamp').tz_localize(None)
], names=['symbol', 'timestamp'])

# Display the updated DataFrame
print(df)
%store df

                                   open          high         low       close       volume  trade_count          vwap
symbol  timestamp
BTC/USD 2022-03-09 06:00:00  41521.5300  42590.080000  38900.0000  39219.0800  1364.981479      43231.0  41404.787303
        2022-03-10 06:00:00  39235.6400  40301.730000  38200.2000  38792.2300  1181.691366      35917.0  39139.215264
        2022-03-11 06:00:00  38784.6100  40250.000000  38316.0000  39167.7500   831.507763      30547.0  39192.837122
        2022-03-12 06:00:00  39172.7600  39439.780000  38666.6700  39109.3600   301.549334      16474.0  39079.401184
        2022-03-13 06:00:00  39126.4600  39198.040000  37572.5100  38520.9900   576.983541      25701.0  38409.369059
...                                 ...           ...         ...         ...          ...          ...           ...
ETH/USD 2025-03-03 06:00:00   2449.5135   2449.513500   2003.3420   2105.9345   116.066267        292.0   2199.763076
        2025-03-04 06:00:00   2105.0785   2269.852217   1994.3040   2178.8730    17.636647        169.0   2098.957587
        2025-03-05 06:00:00   2180.5650   2319.030000   2161.8500   2314.2605    29.692276        162.0   2221.953832
        2025-03-06 06:00:00   2313.3960   2313.721000   2102.1550   2173.8200    19.079963        131.0   2217.909718
        2025-03-07 06:00:00   2175.1000   2210.600000   2165.9745   2178.3400     3.313974         29.0   2186.612350

[2190 rows x 7 columns]
Stored 'df' (DataFrame)

In [ ]:

# def get_data(df):
#     """
#     Converts 'timestamp' level to datetime, removes timezone, and returns the updated DataFrame.
    
#     Parameters:
#         df (pd.DataFrame): Input DataFrame with a MultiIndex of ('symbol', 'timestamp').
    
#     Returns:
#         pd.DataFrame: Updated DataFrame with timestamp as a timezone-naive datetime.
#     """
#     df.index = pd.MultiIndex.from_arrays([
#         df.index.get_level_values('symbol'),
#         pd.to_datetime(df.index.get_level_values('timestamp'))
#     ], names=['symbol', 'timestamp'])

#     # Remove the timezone
#     df.index = pd.MultiIndex.from_arrays([
#         df.index.get_level_values('symbol'),
#         df.index.get_level_values('timestamp').tz_localize(None)
#     ], names=['symbol', 'timestamp'])
    
#     return df  # Return the modified DataFrame

# # Example Usage:
# # df = 
# get_data(df)

                                   open          high         low       close       volume  trade_count          vwap
symbol  timestamp
BTC/USD 2022-03-09 06:00:00  41521.5300  42590.080000  38900.0000  39219.0800  1364.981479      43231.0  41404.787303
        2022-03-10 06:00:00  39235.6400  40301.730000  38200.2000  38792.2300  1181.691366      35917.0  39139.215264
        2022-03-11 06:00:00  38784.6100  40250.000000  38316.0000  39167.7500   831.507763      30547.0  39192.837122
        2022-03-12 06:00:00  39172.7600  39439.780000  38666.6700  39109.3600   301.549334      16474.0  39079.401184
        2022-03-13 06:00:00  39126.4600  39198.040000  37572.5100  38520.9900   576.983541      25701.0  38409.369059
...                                 ...           ...         ...         ...          ...          ...           ...
ETH/USD 2025-03-03 06:00:00   2449.5135   2449.513500   2003.3420   2105.9345   116.066267        292.0   2199.763076
        2025-03-04 06:00:00   2105.0785   2269.852217   1994.3040   2178.8730    17.636647        169.0   2098.957587
        2025-03-05 06:00:00   2180.5650   2319.030000   2161.8500   2314.2605    29.692276        162.0   2221.953832
        2025-03-06 06:00:00   2313.3960   2313.721000   2102.1550   2173.8200    19.079963        131.0   2217.909718
        2025-03-07 06:00:00   2175.1000   2210.600000   2165.9745   2178.3400     3.313974         29.0   2186.612350

[2190 rows x 7 columns]